*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}
body{
    background-color: #bacedf;
}
.headerDiv,.loginLeftDiv{
    background-color: #387cb4;
}
.headerDiv{
    padding: 10px 50px;
}
.signUpImage::file-selector-button {
    background-color: #387cb4;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.signInDiv{
    padding: 0px 15px;
}
.loginContentDiv{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    box-shadow: 12px 12px 10px 1px rgb(209, 215, 218);
}
.loginLeftDiv{
    padding: 180px 60px;
    border-radius: 30px 0px 0px 30px;
}
.inputField{
    width: 380px;
    border: none;
    border-bottom: 1px solid grey;
    margin-top: 50px;
    padding: 5px 30px;
    font-size: 14px;
}
.detailsRow{
    border-bottom: 1px solid #b8dcf7;;
}
.newButton{
    font-size: 14px;
    color: grey;
}

.inputField:focus{
    outline: none;
}
.inputFieldSignup{
    width: 380px;
    border: none;
    border-bottom: 1px solid grey;
    margin-top: 40px;
    padding: 5px 30px;
    font-size: 14px;
}
.inputFieldSignup:focus{
    outline: none;
}
.loginRight{
    padding: 20px 30px;
    background-color: white;
    border-radius: 0px 30px 30px 0px;
}
.loginHead{
    font-size: 24px;
    font-weight:400;
    color: #387cb4;
}
.loginButton{
    border: none;
    border-radius: 20px;
    color: #387cb4;
    width: auto;
    border-width: thin;
    font-weight: bold;
    padding: 6px 120px;
    font-size: 14px;
}
.loginSignup,.inputProfile{
    font-size: 14px;
    color: grey;
}
.loginCreate{
    font-size: 15px;
    color: rgb(80, 78, 78);
}
.buttonWrap {
    margin: 20px 0px 0px 27px;
}
.userContentDiv{
    position: relative;
    background-color: #bacedf;
    padding: 0px 110px;
}
.fileHeader{
    position: relative;
    margin-top: 30px;
    width: 100%;
    padding: 16px 55px;
    background-color: white;
}
.userProfileDiv{
    background-color: white;
    max-height: 240px;
    padding: 15px 20px;
}
.userContactsDiv{
    background-color: white;
    padding: 10px 5px;

}
.createContactButton{
    border: none;
    background-color: #387cb4;
    padding: 3px 4px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    border-radius: 20px;
}
.profileName{
    font-size: 15px;
    color: #387cb4;
    font-weight: 700;
}
.contactTableHead{
    padding: 15px 87px;
    color: #387cb4;
    font-size: 14px;
    font-weight: 700;
}
.nameSpan,.emailSpan,.phoneSpan{
    font-weight: 600;
}
.nameHead,.nameSpan{
    width: 86px;
}
.emailHead,.emailSpan{
    width: 190px;
}
.phoneHead,.phoneSpan{
    width: 120px;
}
.editButton{
   border: 1px solid #4188c2;;
   width: 95px;
   font-size: 13px;
   color: #387cb4;
   border-radius: 20px;
   border-width: thin;
   font-weight: 600;
   padding: 2px 0px 2px 0px;
}
.detailsFont,.contactName{
    font-size: 13px;
}
.editButtonDiv{
    padding-left: 12px ;
    padding-right: 12px;
}
.showContactDiv{
    display: none;
    top: 3px;
    position: absolute;
    margin-top: 10px;
    background-color: #bacedf;
    padding: 0px 10px;
    box-shadow: 5px 5px 5px 5px rgb(197, 196, 196);
}
.showContactDetails{
    background-color: white;
    padding: 60px 45px;
}
.showContactHead{
    background-color: #bacedf;
    color: #296ba0;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 90px;
}
.createClose{
    background-color: #bacedf;
}
.regButtonDiv{
    border: 1px solid #5195cc;
    border-radius: 20px;
    margin-top: 40px;
}
.contactNameDiv{
    padding-bottom: 10px;
}
.contactLabel,.contactSymbol{
    color: #387cb4;
    font-size: 15px;
    font-weight: 700;
}
.contactLabel{
    width: 100px;
}
.contactName{
    inline-size: 230px;
    overflow-wrap: break-word;
}
.createDetailButton,.editDetailButton{
    border: none;
    border-radius: 20px;
    background-color: #387cb4;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 3px 40px;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
}
.inputBorder{
    border: none;
    border-bottom: 1px solid rgb(192, 190, 190);
}
.personalDetails{
    color: #387cb4;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #16588d;;
}
.nameLabel{
    font-size: 14px;
    color:  #387cb4;
    font-weight: 700;
}
.firstNameInput{
    max-width: 90px;
}
.lastNameInput{
    width: 130px;
}
.inputBorder::placeholder{
    font-size: 14px;
}
input:focus,select:focus{
    outline: none;
}
.addressDiv{
    width: 150px;
}
.logoutButton{
    background-color: #387cb4;
}
.logoutConfirm,.deleteConfirm{
    flex-direction: column;
    position: absolute;
    top: 200px;
    background-color: white;
    box-shadow: 1px 1px 3px 3px rgb(231, 103, 103);
    display:none;
}
.logourtAlertHead{
    background-color: rgb(226, 62, 62);
}
.logoutMesage{
    padding: 20px 40px;
}
.alertBtn{
    border: none;
    border-radius: 20px;
    background-color:  rgb(226, 62, 62);
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.alertCancelBtn{
    border: none;
    border-radius: 20px;
    background-color:  rgb(238, 220, 220);
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold; 
}
.errorMessage{
    font-size: 12px;
    font-weight: 700;
    color: red;
}
.viewImage{
    width: 35px;
    height:35px;
}
.validError{
    position: absolute;
    display: flex;
}
.noRecords{
    font-size: 20px;
    font-weight: bold;
    color: #387cb4;
}
.userContactsErrorDiv{
    background-color: white;
    padding: 50px 100px 50px 100px;
}
